/* SET COLORS */
@import 'gruvbox.css';

/* ------------------------------
				Global styles
-------------------------------*/

* {
	font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	font-size: 12px;
}

window#waybar {
	background-color: rgba(40, 40, 40, 1);
	/* Gruvbox @bg0 */
	color: @fg1;
	padding: 0;
}

label.module {
	margin: 1px 3px 1px 3px;
	padding: 3px 3px;
}

tooltip {
	background-color: @bg0;
	color: @fg1;
	border-width: 0;
	border-radius: 7px;
}


/* -------------------------
		Fake background
--------------------------*/
/* Only does anything if bar background color is given transparency */
#top,
#bottom {
	background-color: @bg0;
	padding: 0.5em 0 0.5em 0;
}



/* ------------------------------------------------
		Remove default styling on hyprland module
-------------------------------------------------*/

#workspaces button {
	background: none;
	background-color: inherit;
	border: none;
	box-shadow: none;
	transition: none;
}

#workspaces button:hover {
	background: none;
	background-color: inherit;
	border: none;
	box-shadow: none;
	transition: none;
}


/* -----------------
		Arch logo
-------------------*/

#custom-appsmenu {
	color: #2596be;
	font-size: 20px;
	padding: 3px 9px 2px 0;
}


/* ----------------------
		Hyprland
------------------------- */

#workspaces {
	background-color: @bg1;
	border-radius: 2px;
	margin: 0.3em;
	padding: 0;
}

#workspaces button {
	padding: 0;
	min-width: 0;
	border-radius: 2px;
	margin: 0;

	color: @fg1;
	background-color: @bg1;
}

#workspaces button:hover {
	color: @yellow2;
}

#workspaces button.visible {
	background-color: @bg2;
}

/* -------------------------
		Other modules
---------------------------- */

#clock,
#mpris,
#pulseaudio,
#custom-updates,
#custom-power {
	background-color: @bg1;
	border-radius: 2px;

	margin-top: 1px;
	font-size: 18px;
	font-weight: bold;
}


/* Date expands when hovering over time, make them sit nicely together */
#clock.time {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#clock.time:hover {
	margin-top: 0;
}

#clock.date {
	margin-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

/* These get misaligned so we push them to the side */
#custom-updates,
#pulseaudio,
#custom-power {
	padding-right: 8px;
}


/* ---------------------------
		Color on hover
----------------------------*/

#custom-power:hover {
	color: @red2;
}

#clock.time:hover {
	color: @yellow2;
}

#clock.date:hover {
	color: @blue2;
}

#pulseaudio:hover {
	color: @aqua2;
}

#custom-updates:hover {
	color: @orange2;
}
