* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    color: #cdd6f4;
    transition-property: background-color;
    transition-duration: .5s;
}

.module {
        /* some items have a border at the bottom pushing them up, so we push all up and they stay aligned */
        border-bottom:1px solid transparent;
        border-radius:0px;
}

#clock {
    background-color: transparent;
}

#pulseaudio {
    background-color: #f1c40f;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    border-bottom: #f38ba8 solid 1px;
}

#pulseaudio.volume {
    background-color:transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
}

#privacy-item.screenshare {
    border-bottom:solid 1px #f9e2af;
}

#privacy-item.audio-in {
    border-bottom:solid 1px #94e2d5;
}

#privacy-item.audio-out {
    border-bottom:solid 1px #eba0ac;
}

#workspaces button {
        border-radius:0px;
}

#workspaces button.visible {
    border-bottom:1px solid #74c7ec; 
}

#workspaces button.active {
    border-bottom:1px solid #a6e3a1; 
}
